@import "../../../style-config/mixins.scss";
@import "../../../style-config/variable.scss";

.call-to-action {
  height: 47px;
  width: fit-content;
  padding: 0 15px;
  background-color: $white;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  @include typography(18px, 400, 1);

  .text,
  .arrow-icon,
  .icon {
    position: relative;
    z-index: 1;
    transition: all ease 500ms;
    color: $black;
    @include typography(18px, 700, 1);
  }

  .arrow-icon,
  .icon {
    color: $white;
    background-color: $cyan;
  }

  .icon {
    width: 21px;
    height: 21px;
    background-color: $cyan;
    border-radius: 41px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    font-size: 12px;
  }

  &:before {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $cyan;
    z-index: 0;
    transform: translateX(-100%);
    transition: transform ease 500ms,
      all 300ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }

  &:hover {
    &::before {
      transform: translateX(0);
    }
    .text {
      color: $white;
    }
    .arrow-icon,
    .icon {
      color: $cyan;
      background-color: $white;
    }
  }
}
