@import "../../../style-config/mixins.scss";
@import "../../../style-config/variable.scss";

.call-to-action {
  text-decoration: none;
  text-transform: uppercase;
  height: 35px;
  width: fit-content;
  padding: 0 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
  color: $white;
  border: 2px solid $white;
  text-decoration: none;
  @include typography(18px, 500, 1);
  &.fill {
    background-color: $white;
    color: $black;
  }
  &:hover {
    opacity: 0.6;
  }
}
