@import "../../../style-config/variable.scss";
@import "../../../style-config/mixins.scss";

.intro-content {
  flex-grow: 1;
  display: flex;
  align-items: center;
  min-height: 650px;
  background-image: url("../../../images/background.png");
  background-size: cover;
  background-position: center;
  color: $white;
  overflow: visible; // Add overflow: hidden to hide the overflow of the phone image

  .layout {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    margin: 0;
    position: relative; // Add position: relative to the layout container

    .left-col {
      width: 60%;
      display: flex;
      position: relative;
      align-items: left;
      .phone {
        background-image: url("../../../images/smart_phone.png");
        background-size: cover;
        background-position: left;
        width: 100%;
        min-height: 630px;
        @include large-screen {
          width: 100;
          height: fit-content;
        }
      }
    }

    .right-col {
      width: 40%;
      padding: 40px;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;

      .title {
        margin: 20px 0;

        .small-text {
          @include typography(24px, 400, 28px);
          display: flex;
          align-items: center;

          .icon {
            margin-left: 10px;
          }
        }

        .big-text {
          @include typography(36px, 400, 48px);
        }
      }

      p {
        @include typography(16px, 400, 20px);
        margin: 20px 0;
        width: 80%;
      }
    }
  }
}
