@import "../../style-config/mixins.scss", "../../style-config/variable.scss";

.main-content {
  width: 100%;
  height: fit-content;
  min-height: 100vh;
  background-color: $black-light;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  .opac-layer {
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
  }

  .title {
    margin-top: 50px;
    text-align: center;
    color: $white;
    @include typography(50px, 700, 1);
    margin-bottom: 50px;
  }

  .documents {
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
  }

  .unlock-document {
    position: fixed;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;

    .unlock-overlay {
      width: 480px;
      height: fit-content;
      background-color: $black-lighter;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: relative;

      .close-button {
        width: 30px;
        height: 30px;
        background-color: $white;
        color: $black;
        text-align: center;
        font-size: 18px;
        position: absolute;
        right: 0;
        top: 0;
        cursor: pointer;

        svg {
          align-items: center;
          justify-content: center;
          text-align: center;
        }

        @include transition(200ms);
        &:hover {
          background-color: red;
          color: $white;
        }
      }

      img {
        height: 260px;
        width: 260px;
        margin: 30px 0 30px 0;
      }
      p {
        width: 80%;
        align-items: center;
        text-align: center;
        justify-content: center;
      }

      .unlock-options {
        display: flex;
        flex-direction: row;
        margin-bottom: 30px;
        height: 35px;
        width: 80%;
        gap: 10px;

        input {
          width: 80%;
          padding: 10px;
          border: 0;
          border-radius: 0;
          outline: none;
          border: 2px solid rgba(0, 0, 0, 0);

          @include transition(200ms);
          &:focus-visible {
            border: 2px solid $cyan;
          }
        }

        .cta-link {
          text-decoration: none;

          .unlock-button {
            color: white;
            border: 2px solid $cyan;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $cyan;
            padding: 4px;
            cursor: pointer;
            gap: 5px;

            @include transition(200ms);
            &:hover {
              background-color: rgba(0, 0, 0, 0);
              border: 2px solid $white;
            }

            svg {
              font-size: 12px;
            }
          }
        }
      }
    }
  }
}
